* {
    
    margin:0;
    padding: 0;    
}

/* IMPORTANTE : Arreglando el maldito espaciado de la derecha */
.col{
margin-left: 0 !important;
margin-right: 0 !important;
  }
  
.row{
margin-left: 0 !important;
margin-right: 0 !important;
}

/* //////////////////////////////////////////////////// */

body {
    font-family: 'Nunito', sans-serif;
    width: 100%;
    overflow-x:hidden;
    overflow-y: auto;
}

a {
    text-decoration: none;
    color: #F3F3F5;
}


.fondoMenu {
    background-color: #8c183d;
}

.fondoBoton{

}

.fondoBoton:hover{
    background-color: #7C1838;
}

.textoMenu{
    color:#F3F3F5;
}

.textoMenu:hover {
    color: #F3F3F5;
    text-decoration: underline;
    font-weight: bold;
}

.margenMenu{
    margin-right: 8px;
}

.styloFooter{    
    bottom: 0;    
    position: relative; 
    width: 100%;     
    min-height: 300px;
}
.colorfooter{
    background-color: #5D6D7E;
}
.textoFooter{
    color: #f3f3f5;
}
.textoFooter:hover{
    color: #f3f3f5;
}

.textologin{
    color: #f3f3f5;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
}
.botonLogin{
    background-color: #7C1838;
}

.fondoLogin{
    background-image: url("../img/mundial.jpg");
    background-color: #F3F3F5;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 40em;        
}
.fondoFormulario{
    background-color: #7C1838;
    padding: 5%;
    border: 4px;
    border-color: #f3f3f3;
    border-style: solid;
    opacity: 0.8;
}

.textologin:hover{
    color: #F3F3F5;
    text-decoration: underline;
    font-weight: bold;
}

.textohome{
    font-family: 'Cantarell', sans-serif;
    color: #070304 ; 
    font-weight: bold;
}
.tituloshome{
    font-size: 25px;
    text-align: center;
    font-family: 'Rubik Marker Hatch', cursive;
    color:#070304;
    text-decoration: underline;
    font-weight: bold;
}

.partidosProde{
    font-size: 22px;
    font-family: 'Merriweather Sans', sans-serif;
    color:#f3f3f3  ; 
    font-weight: bold;
    margin-bottom: 12px;
}

.tituloGrupos{
    text-align: center; 
    padding: 10px;
}

.textoSegundoEquipo{
    text-align: left;
}

.imgBandera{
    width: 100%;
    height: auto;
}

@media (max-width: 720px) {
    .textoSegundoEquipo{
        text-align: right;        
    }

    .imgBandera{
        width: 100%;
        height: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .nombreEquipos{
        font-size: 22px;
    }
}